@media (max-width: 998px) {
    .call-heading{
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .call-heading{
        font-size: 15px;
    }
    .hero-title > h3 {
        font-size: 20px;
    }
    .hero-title > h1 {
        font-size: 40px;
    }
}
@media (max-width:576px) {
    .hero-title > h1 {
        font-size: 30px;
    }
    .hero-title > h3 {
        font-size: 15px;
    }
    .develop-p{
        font-size: 12px;
    }
}
